/Projeto II/Slide1.png
/Projeto II/API.txt
/Projeto II/etapa-2-lambda/layers/fsspec-layer.zip
/Projeto II/etapa-2-lambda/layers/modulos-layer.zip
/Projeto II/etapa-1-input-local/app/dados/movies.csv
/Projeto II/etapa-1-input-local/app/dados/series.csv


